Email: <%= @user.email %><br>
<% if @user.city %>
  City: <%= @user.city %>
<% end %><br>
<% if @user.state %>
  State: <%= @user.state %>
<% end %><br>
Blog Posts: <%= @user.posts.count %><br>
Comments: <%= @user.comments.count %>

<p>
  <% if @user.bio %>
    About <%= @user.username %>: <%= @user.bio %>
  <% end %>
</p>
