Member since <span class="date"><%= timestamp(@user) %></span><br>
Last seen on <span class="date"><%= @user.updated_at.strftime("%b %d %Y") %></span><br>
<% unless @user.city.nil? || @user.city == "" %>
  <span class="date">City:</span> <%= @user.city %>
<% end %><br>
<% unless @user.state.nil? || @user.city == "" %>
  <span class="date">State:</span> <%= @user.state %>
<% end %><br>
<span class="count"><%= @user.posts.count %></span> Blog Posts<br>
<span class="count"><%= @user.comments.count %></span> Comments
