<div class="profile-header">
  <h1><%= @user.username %>'s
  <%= gravatar_tag @user, default: "https://cdn0.vox-cdn.com/images/verge/default-avatar.v9899025.gif", html: { class: "avatar" } %>
  Profile</h1>
</div>

<div class="profile-container">
  <div class="profile-stats">
    <%= render "users/stats" %>
  </div>

  <% unless @user.posts.empty? %>
    <h3>Recent Blog Posts</h3>
    <div class="profile-posts">
      <% @user.posts.limit(3).each do |post| %>
        <%= link_to "#{post.title}", post_path(post.id) %> on <%= post.created_at %><br>
      <% end %>
    </div>
  <% end %>
</div>
