<div class="container">
  <h1><%= @user.username %>'s Profile</h1>
  <p><%= @user.avatar %></p>
  Email: <%= @user.email %><br>
  City: <%= @user.city %><br>
  State: <%= @user.state %><br>
  Bio: <%= @user.bio %>
</div>
