<header>
  <%= link_to "Another Blog.", root_path, class: "logo" %>

  <nav>
    <% if logged_in? %>
      <%= link_to "Create Post", new_post_path %> |
      <%= link_to "Journal", journal_path %> |
      <span class="slider">
        <%= link_to "#{current_user.username}", user_path(session[:user_id]) %>
        <div class="slider-content">
          <%= link_to "Account", edit_user_path(session[:user_id]) %><br>
          <%= link_to "Log Out", logout_path, method: "delete" %>
        </div>
      </span>
    <% else %>
      <%= link_to "Sign Up", new_user_path %> |
      <%= link_to "Log In", login_path %>
    <% end %>
  </nav>
</header>
