<header>
  <%= link_to "Another Blog.", root_path, class: "logo" %>
  <nav>
    <% if logged_in? %>
      <a href="/posts/new" class= "fancybox" data-fancybox-type= "iframe" >Create Post</a> |
      <%= link_to "Journal", journal_path(current_user) %> |
      <span class="slider">
        <a href="<%=user_path(session[:user_id])%>"><%= gravatar_tag current_user, default: "https://cdn0.vox-cdn.com/images/verge/default-avatar.v9899025.gif", html: { class: "avatar-icon" } %></a>
        <div class="slider-content">
          <%= link_to "Account", edit_user_path(session[:user_id]) %><br>
          <%= link_to "Log Out", logout_path, method: "delete" %>
        </div>
      </span>
    <% else %>
      <%= link_to "Sign Up", new_user_path %> |
      <%= link_to "Log In", login_path %>
    <% end %>
  </nav>
</header>
