<h3><%= @comments.count %> Comments</h3>

<% if @comments.empty? %>
  <p>There are currently no comments.<br>
    <%= link_to "Be the first to leave one.", new_post_comment_path(@post) %></p>
<% else %>
  <% @comments.each do |comment| %>
    <p>
      <div class="right">
        <%= link_to comment.user.username, user_path(comment.user) %> on <%= timestamp(comment) %>
      </div>
      <br>
      <div class="sub-div"><%= comment.content %></div>
    </p>
  <% end %>
<% end %>

<%= will_paginate @comments %>
