<div class="center">
  <%= link_to "Create Another Post", new_post_path, class: "button" %>
</div>

<h1>New blog posts.</h1>
<div class="sub-div">
  <% if @posts.empty? %>
    <p>There are currently no blog posts.<br>
      Log in to <%= link_to "create a new blog post", new_post_path %>.</p>
  <% else %>
    <% @posts.each do |post| %>
      <p>
        <%= timestamp(post) %> |
        <%= link_to "#{post.title}", post_path(post.id) %> by
        <%= link_to "#{post.user.username}", user_path(post.user.id) %>
      </p>
    <% end %>
  <% end %>
</div>

<%= will_paginate @posts %>