<h1><%= @user.username %>'s journal.</h1>

<% if @posts_by_month.empty? %>
  <div class="sub-div">
    <p>You currently do not have any blog posts in your journal.<br>
      <%= link_to "Write your first!", new_post_path %></p>
  </div>
<% else %>
  <% @posts_by_month.each do |monthname, posts| %>
    <h3 class="right"><%= monthname %> 2015</h3>
    <% posts.each do |post| %>
      <sub><%= post.created_at.strftime("%m/%d/%Y") %></sub>
      <span class="highlight"><%= link_to "#{post.title}", post_path(post) %></span>
      <div class="blog-sample sub-div">
        <%= truncate(post.content, length: 515) %>
      </div>
    <% end %>
  <% end %>
<% end %>