<h1 class="center">Create Another Post</h1>

<% if logged_in? %>
  <%= form_for @post do |f| %>
    <%= f.text_field :title, placeholder: "title" %>

    <p><%= f.text_area :content, placeholder: "write your another blog post..." %></p>

    <%= f.submit "Submit", class: "button" %>
  <% end %>
<% else %>
  You must be <%= link_to "logged in", new_post_path %> to create a blog post.
<% end %>
