<div class="container">
  <h1><%= @post.title %></h1>
  Published on <%= @post.created_at.strftime("%d %b. %Y") %>
  by <%= link_to "#{@post.user.username}", user_path(@post.user.id) %>
  <p><%= @post.content %></p>
  <h3>Comments</h3>
  <% if @post.comments.empty? %>
    <p>There are currently no comments.<br>
      <%= link_to "Be the first to leave one.", new_comment_path %></p>
  <% else %>
    <p><%= link_to "Leave a comment", new_comment_path %></p>
    <% @post.comments.each do |comment| %>
      <%= comment.content %>
    <% end %>
  <% end %>
</div>
