<h1><%= @post.title %></h1>
Published on <%= timestamp(@post) %>
by <%= link_to "#{@post.user.username}", user_path(@post.user) %>

<div class="main-div">
  <p><%= @post.content %></p>
</div>

<p>
  <div class="center">
    <%= link_to "Leave a comment", new_post_comment_path(@post), class: "button" %>
  </div>
</p>

<h3><%= @comments.count %> Comments</h3>

<% if @comments.empty? %>
  <div class="sub-div">
    <p>There are currently no comments.<br>
    <%= link_to "Be the first to leave one.", new_post_comment_path(@post) %></p>
  </div>
<% else %>
  <%= render @comments %>
<% end %>
