<!DOCTYPE html>
<html>
<head>
  <title>SinatraToRailsPick1Of3Challenge</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://cherne.net/brian/resources/jquery.hoverIntent.minified.js"></script>
</head>
<body class= <%= "background" unless current_page?(new_post_path) %> >
  <%= render "shared/header" unless current_page?(new_post_path) %>
  <main class= <%= "container" unless current_page?(new_post_path) %> >
    <%= yield %>
  </main>
</body>
</html>
